*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: red;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.absolute{
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    &:hover{
        color: white;
    }
}
.relative{
    position: relative;
}
.card{
    width: calc(100% / 5 - 2rem);
    margin: 0.4rem;
    background-color: #2b2a33;
}
.flag{
    width: 25px;
    height: 15px;
}
.star{
    color: green;
}
.hover:hover{
    opacity: 0;
}